.searchBar
{
  margin:10px;
  padding:10px;
  font-size:12pt;
  background-image:url('/imgs/80p.png');
  border: 1px solid black;
  box-shadow: 2px 2px 5px black;
  width: 1000px;
  overflow: hidden;
}

.movie
{
  margin:10px;
  padding:10px;
  font-size:18pt;
  background-image:url('/imgs/80p.png');
  border: 1px solid black;
  box-shadow: 2px 2px 5px black;
  height: 320px;
  width: 1000px;
  overflow: hidden;
}

.movie .leftSide img
{
  height: 300px;
  overflow: hidden;
  box-shadow: 2px 2px 5px black;
}

.leftSide
{
  /*display: inline;*/
  margin:10px;
  height:300px;
  width:200px;
  float:left;
}

.rightSide
{
  margin:10px;
  float: right;
  width:760px;
}

.rightSide .rating
{
  float: right;
}